*{ 
    padding: 0; margin: 0;
    }
    
    :root{ 
        --blau: #82E1DF;
        --rosa: #EA96DF;
        --pink: #FF65B3;
        --gelb: #FCD72C;
        --hellgelb: #FFDD63;
    }
    


    
body{
    padding: 0;
    background-image: linear-gradient(to right top, #82e1df, #68d8f9, #80c8ff, #b7b1ff, #ea96df);
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container{
    width: 70vw;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1), 0px 24px 80px rgba(17,17,26,0.1);
}

.main{
    width: 100vw;
    display: grid;
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
    margin: 25px;
    grid-template-columns: 20% 80%;
    grid-row: 25% 50% 25%;
}

.profile-container{
    width: 45vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    /* justify-items: center; */
}


.profile-text{
    grid-column: 1/3;
}

.picture-feed{
    grid-column: 1/3;
    
}



.header{
    display: grid;
    grid-column: 1/3;
}

.navigation{
    font-size: x-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}


.navbutton{
    border-radius: 15px;
    height: auto;
    width: 90%;
    padding: 10px;
    background-color: var(--gelb);
    border: none;
    font-weight: bold;
}

.navbutton:hover{
    background-color: var(--pink);
    border: none;
    
    font-weight: bold;
}

.login{
    width: 100%;
    height: auto;
    display: grid;
    align-content: start;
    height: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--rosa);
    text-align: center;
    padding: 25px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#bootstrap-Over .card-body-costum{ /*id = 100 + klasse = 10 */
    font-style: italic;
}

#bootstrap-Over .card{ /*id = 100 + klasse = 10 */
    font-style: italic;
    background-color: #FFDD63;
    border: none;
    border-radius: 10px;
    padding-bottom: 5px;
}


.footer{
    display: grid;
    grid-column: 1/3; 
    text-align: center;
    font-size: small;
    height: auto;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.logo img{
    width: 30%;
}

.carousel{
    max-width: 50vw;
}

.carousel-center{
    display: flex;
    justify-content: center;
}

.introtext{
    padding-top: 10px;
    text-align: center;
}
    
h2{
    padding-bottom: 10px;
}

.avatar{
    width: 100%;
}

.card-deck{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card{
    flex: 0 0 calc(33.33% - 10px) !important; /* Breite auf 33.33% setzen und Platz zwischen den Karten abziehen */
}

@media only screen and (max-width:600px) {

    body{
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container{
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
    }

    .profile-container{
        width: 90vw;
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-gap: 20px;
        justify-items: center;
    }

    .profile-info{
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;

    }
    
    .picture-picture{
        grid-column: 1/3;
        grid-row: 2/3;
        justify-content: center;
        
    }

    .avatar{
        width: 80vw;
    }

    .profile-text{
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .picture-feed{
        grid-column: 1/3;
        grid-row: 4/4;
    }

    .card-deck{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    
    }
    
.header{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}

.login{
    display: grid;
    height: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 25px;
    border-radius: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main{
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.footer{
    display: grid;
    grid-column: 1/2; 
    grid-row: 4/5;
    text-align: center;
    font-size: small;
    height: auto;
}


.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;

}

.logo img{
    width: 80%;
}

.carousel{
    max-width: 90vw;
}

}